<ul class="nav">
  <li class="nav-item logo">
    <%= image_tag("devcamplogo.png", :size => "150x48") %>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Apply To Bootcamp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="dang">
    <button type="button" class="btn btn-light box-shadow">Register</button>
    <button type="button" class="btn btn-success box-shadow">Login</button>
  </li>
</ul>