@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.magic-padding {
  padding: 30px;
}

.btnpadding {
  margin-left: 40%;
  background-color: #3ae39f;
}

.login-scss {
	color: black;
	margin-left: 37%;
}

.login-scss:hover {
	text-decoration: none;
	color: #3ae39f;
}

.signup {
	text-align: center;
}
