@import "bootstrap";
html,

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
 }

.jumbotron {
  background-image:url('footer.jpg');
  height:500px;
  background-repeat: no-repeat;
  background-size: 2000px;
  margin-top: -97px;
}



  .jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.white-text {
  color:white;
}
  

/*-------------------------------------------*/
.nav {
  margin-left: 140px;
  font-size: .9em;
  
 }

.nav-link {
  color: white;
   }

a:hover { 
    color: grey;
    transition-duration: .5s;
}

.logo {
  margin-left: 27px;
  margin-top: -18.5px;
}

.dang {
  margin-left: 400px;
}

.btn {
  margin-left: 30px;
}

.box-shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}