@import 'bootstrap';
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center; align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }
$maincolor: #27293d;
    html{height: 100%;}
    body{
      
      @extend %flex;
       font-family: 'Open Sans', sans-serif;
      width: 100%;
      min-height: 100%;
      background: #27293d;
      font-size: 16px;
      overflow: hidden;
    }
 
    *, *:before, *:after {
      box-sizing: border-box;
    }

.page-header{
  padding-bottom: 45%;
  color: white;
}


.btn-profile {
  position: relative;
  background-color: #FFC04C;
  border: none;
  padding: 20px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 20px;
  border-radius: 3px;
}

.btn-profile:hover{
 background:#fff;
 box-shadow:0px 2px 10px 5px #97B1BF;
 color:#000;
 text-decoration: none;
}

.inner {
  position: absolute;
}

.content{
  position: relative; 
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
  padding-top: 35px;
}

.card{  
 @include dimensions( 1200px, 500px);
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 350px;
    height: 700px;
    background: #FFC04C;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
  }
}
  
.firstinfo{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{
    padding-top: 15px; 
    border-radius: 50%;
    width: 240px;
    height: 300px;
  }
.profileinfo{
  padding: 0px 20px;
  h1{ font-size: 1.8em;}
  h3{ font-size: 1.2em;
      color: $maincolor;
      font-style: italic;
  }
  p.bio{
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
    }  
  }
}

@keyframes animatop{
  0%{ 
    opacity: 0;
    bottom: -500px;}
  100%{  
   opacity: 1;  
  bottom: 0px;}
}
 
@keyframes animainfos{
  0%{
    bottom:  10px;}
  100%{
  bottom: -42px;}
}

@keyframes rotatemagic{
  0%{
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100%{
    
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.back-link{
  padding-left: 20%;
}

.social-links a {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
}























